html {
    transition: background-color 0.3s, color 0.3s;
}

body {
    display: grid;
    grid-template:
            "H"
            "M"
            "F";
    grid-template-rows: min-content auto 100px;
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 18px;
    font-style: normal;
}

header {
    grid-area: H;
}

main {
    grid-area: M;
}

main .container {
    height: 100%;
}

footer {
    grid-area: F;
    background: #f4f4f4;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-top {
    display: flex;
    gap: 16px;
    padding: 8px;
}

.nav-top a {
    text-decoration: none;
    color: #dc3545;
}

.nav-top #btnSwitch {
    cursor: pointer;
    font-size: 2rem;
    color: #007bff;
}

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
}
