<section class="text-dark dark:text-white">
  <div class="bg-light dark:bg-slate-800">
    <div class="container py-5">
      <div class="text-center mb-5">
        <h2 class="display-5 fw-bold">Duyurular</h2>
        <p class="text-muted mt-3"></p>
      </div>
      <div class="row g-4">
        {% for duyuru in duyurular_yeni %}
          <div class="col-md-4">
            <div class="card bg-white rounded shadow-sm">
              <img
                src="{{ duyuru.Gosel }}"
                class="card-img-top rounded-top"
                alt="{{ duyuru.Baslik }}"
              >
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text text-muted">{{ duyuru.Baslik }}</p>
                <a href="/duyuru/{{ duyuru.Slug }}"
                   class="btn btn-primary d-flex align-items-center justify-content-center gap-2"
                >
                  Devamı
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
