<section class="text-white" style=" background-color: rgb(102, 0, 0);">
  <div class="container py-5">
    <h2 class="mb-5 display-4 fw-bold">Yeni Kitaplarımız</h2>
    <div class="row">
      <!-- Ürün 1 -->
      <div class="col-md-4 col-lg-3 mb-4">
        <a href="/urun/turkiyeyi-geziyorum-gobeklitepeden-truvaya-hikaye-seti" class="text-decoration-none text-white">
          <div class="card bg-white text-dark">
            <img
              src="https://image.pixelperfect.tr/upload/q_90,o_avif,w_400,h_600/https://doneweb.s3.eu-central-1.amazonaws.com/project/project-7/7bac76ba-04a8-40ba-925c-7973f71bb91b.png"
              class="card-img-top"
              alt="TÜRKİYE'Yİ GEZİYORUM GÖBEKLİTEPE'DEN TRUVA'YA HİKAYE SETİ"
            />
            <div class="card-body">
              <h5 class="card-title">TÜRKİYE'Yİ GEZİYORUM GÖBEKLİTEPE'DEN TRUVA'YA HİKAYE SETİ</h5>
            </div>
          </div>
        </a>
      </div>
      <!-- Ürün 2 -->
      <div class="col-md-4 col-lg-3 mb-4">
        <a href="/urun/bilsem-3lu-paket-deneme-1-seviye-2-seviye-3-seviye" class="text-decoration-none text-white">
          <div class="card bg-white text-dark">
            <img
              src="https://image.pixelperfect.tr/upload/q_90,o_avif,w_400,h_600/https://doneweb.s3.eu-central-1.amazonaws.com/project/project-7/2a724bca-551d-4d6f-aef7-e2ddf63acabc.jpeg"
              class="card-img-top"
              alt="BİLSEM 3'LÜ PAKET DENEME (1.SEVİYE - 2.SEVİYE - 3.SEVİYE)"
            />
            <div class="card-body">
              <h5 class="card-title">BİLSEM 3'LÜ PAKET DENEME (1.SEVİYE - 2.SEVİYE - 3.SEVİYE)</h5>
            </div>
          </div>
        </a>
      </div>
      <!-- Ürün 3 -->
      <div class="col-md-4 col-lg-3 mb-4">
        <a href="/urun/bilsem-ne-istedigini-bilen-paket-3-hazirlik-kitabi-paket-deneme"
           class="text-decoration-none text-white">
          <div class="card bg-white text-dark">
            <img
              src="https://image.pixelperfect.tr/upload/q_90,o_avif,w_400,h_600/https://doneweb.s3.eu-central-1.amazonaws.com/project/project-7/8870f72e-1792-4403-8d26-e260203ef358.jpeg"
              class="card-img-top"
              alt="BİLSEM NE İSTEDİĞİNİ BİLEN PAKET 3 (HAZIRLIK KİTABI + PAKET DENEME)"
            />
            <div class="card-body">
              <h5 class="card-title">BİLSEM NE İSTEDİĞİNİ BİLEN PAKET 3 (HAZIRLIK KİTABI + PAKET DENEME)</h5>
            </div>
          </div>
        </a>
      </div>
      <!-- Ürün 4 -->
      <div class="col-md-4 col-lg-3 mb-4">
        <a href="/urun/bilsem-ne-istedigini-bilen-paket-2-hazirlik-kitabi-paket-deneme"
           class="text-decoration-none text-white">
          <div class="card bg-white text-dark">
            <img
              src="https://image.pixelperfect.tr/upload/q_90,o_avif,w_400,h_600/https://doneweb.s3.eu-central-1.amazonaws.com/project/project-7/34568175-d955-4192-a936-2e2348e1a697.jpeg"
              class="card-img-top"
              alt="BİLSEM NE İSTEDİĞİNİ BİLEN PAKET 2(HAZIRLIK KİTABI + PAKET DENEME)"
            />
            <div class="card-body">
              <h5 class="card-title">BİLSEM NE İSTEDİĞİNİ BİLEN PAKET 2 (HAZIRLIK KİTABI + PAKET DENEME)</h5>
            </div>
          </div>
        </a>
      </div>
      <!-- Ürün 5 -->
      <div class="col-md-4 col-lg-3 mb-4">
        <a href="/urun/bilsem-ne-istedigini-bilen-paket-1-hazirlik-kitabi-paket-deneme"
           class="text-decoration-none text-white">
          <div class="card bg-white text-dark">
            <img
              src="https://image.pixelperfect.tr/upload/q_90,o_avif,w_400,h_600/https://doneweb.s3.eu-central-1.amazonaws.com/project/project-7/9ae491ac-9983-4da7-b4d0-7c9384ce3a9c.jpeg"
              class="card-img-top"
              alt="BİLSEM NE İSTEDİĞİNİ BİLEN PAKET 1 (HAZIRLIK KİTABI+PAKET DENEME)"
            />
            <div class="card-body">
              <h5 class="card-title">BİLSEM NE İSTEDİĞİNİ BİLEN PAKET 1 (HAZIRLIK KİTABI+PAKET DENEME)</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
