{% extends 'layout/base.html' %}

{% block title %}İletişim{% endblock %}

{% block content %}

  {% set title = "İletişim Bilgilerimiz" %}
  {% set description = "Bizi arayın, bize yazın veya ofisimize uğrayın! İletişim bilgilerimiz aşağıda yer almaktadır. Herhangi bir sorunuz veya talebiniz varsa, size yardımcı olmaktan mutluluk duyarız." %}
  {% include "component/title.html" ignore missing %}

  <!-- İletişim Formu ve Harita Bölümü -->
  <section class="text-dark dark:text-white">
    <div class="bg-light dark:bg-slate-800">
      <div class="container py-5">
        <div class="row">

          <!-- Harita Bölümü -->
          <div class="col-lg-8 mb-4">
            <div class="position-relative rounded overflow-hidden bg-secondary" style="height: 400px;">
              {% include 'component/map.html' %}
            </div>
          </div>

          <!-- İletişim Formu -->
          <div class="col-lg-4">
            <h4 class="fw-bold mb-3">İletişim</h4>
            <div class="bg-white p-4 rounded shadow mt-3">
              <h6 class="fw-bold">E-posta</h6>
              <a href="mailto:info@analizyayin.com.tr" class="text-primary">info@analizyayin.com.tr</a>
              <h6 class="fw-bold mt-3">Telefon</h6>
              <a href="tel:+908503055405" class="text-primary">0850 305 5405</a>
              <h6 class="fw-bold">Adres</h6>
              <p>Analiz Yayıncılık, İvedik Osb Mah, 2284. Sk. No:138, 06000 Yenimahalle / Ankara</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

