{% extends 'layout/base.html' %}

{% block title %}Çerez Politikası{% endblock %}

{% block content %}

  {% set title = "Çerez Politikası" %}
  {% set description = "Analiz Yayınları olarak, web sitesi olan https://www.analizyayin.com.tr/ adresindeki hizmetlerimizi sunarken çerez kullanmaktayız." %}
  {% include "component/title.html" ignore missing %}

  <!-- Çerez Politikası Başlığı -->
  <section class="bg-white dark:bg-slate-800 text-black dark:text-white"
  >
    <div class="container">
      <div class="p-6 pt-8">
        <h2 class="mb-8 text-4xl tracking-tight font-extrabold">Çerez Politikası</h2>
        <div class="grid pt-8 text-left border-t border-gray-200 dark:border-gray-700 md:gap-16 md:grid-cols-2">
          <!-- Sol Sütun -->
          <div>
            <div class="mb-10">
              <h3 class="flex items-center mb-4 text-lg font-medium">
                <span class="material-symbols-outlined text-gray-500 dark:text-gray-400 mr-2">cookie</span>
                Çerez Nedir?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                Çerezler, web siteleri tarafından kullanıcı deneyimini iyileştirmek ve sitenin daha etkili çalışmasını
                sağlamak için kullanılan küçük metin dosyalarıdır. Tarayıcınız çerezleri saklar ve bir sonraki
                ziyaretinizde bu bilgileri hatırlayarak size daha kişiselleştirilmiş bir deneyim sunar.
              </p>
            </div>
            <div class="mb-10">
              <h3 class="flex items-center mb-4 text-lg font-medium">
                <span class="material-symbols-outlined text-gray-500 dark:text-gray-400 mr-2">category</span>
                Hangi Çerez Türleri Kullanılıyor?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                Web sitemizde bazı temel çerez türleri kullanılmaktadır. Bu çerezler, oturumunuzun süresini takip etmek,
                tercihlerinizi kaydetmek ve siteyi etkili bir şekilde çalıştırmak için gereklidir. Ayrıca, üçüncü taraf
                çerezleri de kullanabiliriz, bunlar genellikle site analizi, reklamların yönlendirilmesi ve sosyal medya
                entegrasyonunu sağlamak amacıyla kullanılır.
              </p>
            </div>
          </div>
          <!-- Sağ Sütun -->
          <div>
            <div class="mb-10">
              <h3 class="flex items-center mb-4 text-lg font-medium">
                <span class="material-symbols-outlined text-gray-500 dark:text-gray-400 mr-2">settings</span>
                Çerezleri Nasıl Kontrol Edebilirim?
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                Tarayıcınızın ayarlarından çerezleri kontrol edebilirsiniz. Çerezleri engelleyebilir, silmeyi tercih
                edebilir veya belirli web siteleri için çerez kabulü otomatik olarak ayarlayabilirsiniz. Ancak,
                çerezleri devre dışı bırakmak web sitemizin bazı işlevlerinin düzgün çalışmamasına neden olabilir.
              </p>
            </div>
            <div class="mb-10">
              <h3 class="flex items-center mb-4 text-lg font-medium">
                <span class="material-symbols-outlined text-gray-500 dark:text-gray-400 mr-2">privacy_tip</span>
                Kişisel Veri İşleme Politikası
              </h3>
              <p class="text-gray-500 dark:text-gray-400">
                Kişisel verilerinizin işlenmesiyle ilgili daha detaylı bilgi için, lütfen web sitemizdeki Gizlilik
                Politikası sayfasını ziyaret ediniz.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Çerez Politikası Detayları -->
  <section class="bg-white dark:bg-slate-800 text-black dark:text-white"
  >
    <div class="container">
      <div class="prose prose-base p-6">
        <p>
          Analiz Yayınları olarak, web sitesi olan
          <a href="https://www.analizyayin.com.tr/" rel="noopener noreferrer" target="_blank"
             class="text-blue-600 dark:text-blue-400">https://www.analizyayin.com.tr/</a>
          adresindeki hizmetlerimizi sunarken çerez kullanmaktayız.
        </p>
        <h3>Çerez Nedir?</h3>
        <p>Çerezler, web sitesi sunucusu tarafından kullanıcının tarayıcısına gönderilen ve kullanıcının bilgisayarında
          depolanan küçük metin dosyalarıdır.</p>
        <h3>Çerez Kullanımının Amacı</h3>
        <p>Çerezler, kullanıcı deneyimini geliştirmek ve web sitesi performansını iyileştirmek için kullanılır.</p>
        <h3>Çerezleri Nasıl Kontrol Edebilirsiniz?</h3>
        <p>Çerez ayarlarını tarayıcınızdan yönetebilirsiniz. Ancak, çerezleri devre dışı bırakmanın bazı web sitesi
          fonksiyonlarının çalışmamasına neden olabileceğini unutmayın.</p>
        <h3>Çerez Politikası Değişiklikleri</h3>
        <p>Bu politika zamanla güncellenebilir. Lütfen düzenli olarak kontrol edin.</p>
      </div>
    </div>
  </section>


{% endblock %}

