<footer>
  <section class="dark:bg-dark dark:text-white">
    <div class="container">
      <div class="row w-100">

        <div class="col col-12 col-md-6" style="padding: 24px 0;">
          <a href="/" style="display: block; margin-bottom: 16px;">
            <img
              class="logo"
              src="https://doneweb.s3.eu-central-1.amazonaws.com/project/project-7/logo-light.png"
              alt="Analiz Yayınları"
              style="height: 60px;"
            >
          </a>
          <p style="margin: 0; line-height: 1.5;">
            Analiz Yayıncılık, İvedik Osb Mah, 2284. Sk. No:138, 06000 Yenimahalle / Ankara<br>
            0850 305 5405<br>
            <a href="mailto:info@analizyayin.com.tr" style="color: inherit; text-decoration: none;">info@analizyayin.com.tr</a>
          </p>
        </div>

        <div class="col col-6 col-md-3" style="padding: 24px 0;">
          <h4 style="font-weight: 500; margin-bottom: 16px;">Kurumsal</h4>
          <ul style="list-style: none; padding: 0; margin: 0; line-height: 1.8;">
            <li><a href="/urunlerimiz" style="text-decoration: none; color: inherit;">Ürünlerimiz</a></li>
            <li><a href="/iletisim" style="text-decoration: none; color: inherit;">İletişim</a></li>
            <li><a href="/hakkimizda" style="text-decoration: none; color: inherit;">Hakkımızda</a></li>
            <li><a href="/bayiler" style="text-decoration: none; color: inherit;">Bayilerimiz</a></li>
          </ul>
        </div>

        <div class="col col-6 col-md-3" style="padding: 24px 0;">
          <h4 style="font-weight: 500; margin-bottom: 16px;">Uygulamalar</h4>
          <ul style="list-style: none; padding: 0; margin: 0; line-height: 1.8;">
            <li>
              <a href="https://analizogretmen.com/" style="text-decoration: none; color: inherit;">Analiz Öğretmen</a>
            </li>
            <li>
              <a
                href="https://play.google.com/store/apps/details?id=air.com.fernus.mobilelibrary.analiz&amp;hl=en_US&amp;pli=1"
                style="text-decoration: none; color: inherit;">Analiz Kütüphane (Android)</a>
            </li>
            <li>
              <a href="https://apps.apple.com/ng/app/analiz-mobil-k%C3%BCt%C3%BCphane/id1632607207"
                 style="text-decoration: none; color: inherit;">Analiz Kütüphane (iOS)</a>
            </li>
            <li>
              <a
                href="https://play.google.com/store/apps/details?id=air.com.fernus.vectorvideo.analiz&amp;hl=tr&amp;gl=US"
                style="text-decoration: none; color: inherit;">Video'lu Çözümler (Android)</a>
            </li>
            <li>
              <a href="https://apps.apple.com/mn/app/analiz-video-%C3%A7%C3%B6z%C3%BCm/id1469341210"
                 style="text-decoration: none; color: inherit;">Video'lu Çözümler (iOS)</a>
            </li>
            <li>
              <a href="https://play.google.com/store/apps/details?id=com.fernus.analiz.optikokuma&amp;hl=tr"
                 style="text-decoration: none; color: inherit;">Optik Okuma (Android)</a>
            </li>
            <li>
              <a href="https://apps.apple.com/tr/app/analiz-optik-okuma/id1488247564"
                 style="text-decoration: none; color: inherit;">Optik Okuma (iOS)</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="dark:bg-dark dark:text-white">
    <div class="container">
      <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <span>&copy; 2024 Analiz Yayınları</span>
        <div style="display: flex; gap: 16px;">
          <a href="/gizlilik-sozlesmesi" style="text-decoration: none; color: inherit;">Gizlilik Sözleşmesi</a>
          <a href="/cerez-politikasi" style="text-decoration: none; color: inherit;">Çerez Politikası</a>
          <a href="/kullanim-sartlari" style="text-decoration: none; color: inherit;">Kullanım Şartları</a>
        </div>
      </div>
    </div>
  </section>
</footer>
